.header-nav {
    width: 97%;
    height: 2.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: rgb(38, 40, 37);
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    z-index: 999;
    

   
}

.header-nav-logo {
    padding: 0 1.4rem;
}

.header-nav-logo-link {
    position: relative;
    text-decoration: none;
    padding-left: 1.55rem;
    font-size: medium;
    font-weight: 700;
    color: inherit;
}

.header-nav-logo-icon {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 0;
    transform: translateY(-50%);
    color: green;
    font-size: 1.3rem;
    
}

.header-nav-menu {
}

.header-nav-menu-list {
    display: flex;
    flex-direction: row;
}

.header-nav-menu-item {
    list-style: none;
    margin: 0 10px;
    padding: 5px 10px;
}

.header-nav-menu-link {
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    color: inherit;
}

.header-nav-menu-link:hover,
.header-nav-logo-link:hover {
    color: #27ae60; /* Hover effect */
    text-decoration:none;
}

.header-nav-menu-item.active .header-nav-menu-link {
    color: #27ae60; /* Active link color */
    font-weight: bold;
    
}


