.header-nav {
    width: 100%;
    height: 4.5rem;
    min-height: 3.5rem; /* Increased for better spacing */
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--primary-background);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
   
}

.header-nav-logo {
    padding: 0 1.4rem;
}

.header-nav-logo-link {
    position: relative;
    text-decoration: none;
    padding-left: 1.55rem;
    font-size: medium;
    font-weight: 700;
    color: inherit;
}

.header-nav-logo-icon {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 0;
    transform: translateY(-50%);
    color: green;
    font-size: 1.3rem;
    
}

.header-nav-menu {
}

.header-nav-menu-list {
    display: flex;
    flex-direction: row;
}

.header-nav-menu-item {
    list-style: none;
    margin: 0 10px;
    padding: 5px 10px;
}

.header-nav-menu-link {
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    color: inherit;
}

.header-nav-menu-link:hover,
.header-nav-logo-link:hover {
    color: #27ae60; /* Hover effect */
    text-decoration:none;
}

.header-nav-menu-item.active .header-nav-menu-link {
    color: #27ae60; /* Active link color */
    font-weight: bold;
    
}


