.home-wrapper {
    max-width: 850px;
    width: 90%;
    margin: 5rem auto 10rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;

}

.home-left { 
    

}

.home-title {
    font-size: 3.3rem;
    font-weight: 600;
    color: rgb(38, 40,37);
    margin-bottom: 1.5rem;
    
 
     
}

.home-left-desc {
   
    color: rgb(114, 118, 114);
    font-size: 1rem;
    font-weight:400;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.home-left-btn {
    width: 9rem;
    height: 3.50rem;
    background-color: green;
    border: none;
    border-radius: 10px;
    color: #fff;
   
    padding-left: rem;
    font-size: medium;
      font-weight: 600; 
   
}
 .home-left-btn > span {
   margin-left: -1.2rem;
}
.home-left-btn:hover {
    background-color: darkgreen; /* Darker green on hover */
    cursor: pointer;
}


.home-left-arrow {
    position: absolute;
    margin-top: .1rem;
    padding-left: 5px;
    font-size: large;
    font-weight: 800;
    
   
}

.home-right {
    position: relative;
}

.home-right-img {
    max-height: 20rem;
    

}

.home-right-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -7rem;
    top: 7rem;
    display: flex;
    transform: rotate(90.9deg);
    height: 40px;
    font-size: medium;
    font-weight: 500;
    color: green;
   

}
.home-right-link-text{
    

}